services:
  postgres:
    image: postgres:16
    container_name: escala_postgres
    restart: always
    environment:
      POSTGRES_DB: escala_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5436:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
